{% extends 'bfb_app/base.html' %}
{% block content %}
Welcome to Billboard For Bands... Your Welcome



<IMG SRC="{{ STATIC_URL }}imgs/billboard_logo.jpg" />
{% if ad_list %}
        <UL>
        {% for ad in ad_list %}
                <LI>{{ad.title}} - {{ad.band}} - {{ad.description}}</LI>
        {% endfor %}
        </UL>
{% else %}
        <P>No Adverts at present.</P>
{% endif %}
{% endblock %}
{% block sidebar %}


{% if result_list %}
        {% for result in result_list %}
                <P><A HREF="{{result.link}}">{{result.title}} </A> <BR/>
                        {{result.summary}}
                </P>
        {% endfor %}

{% endif %}
{% endblock%}

