{% extends 'bfb_app/base.html' %}
{% block content %}

<!-- NAV BAR -->
<div class="navbar">
    <div class="navbar-inner" style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; overflow:hidden; top=100px;">
    <div class="container">
	<div class="span12">
		<ul class="nav">
        	<li class="active"><a href="/bfb_app/">Home</a></li>
            <li><a href="/bfb_app/browse">Browse</a></li>
        </ul>
		<form class="navbar-form pull-right">
	      	<input type="text" class="search-query span3" id="searchPlease" placeholder="Advert or Venue">
			{% if user.is_authenticated %}
			Welcome {{ user.username }}  |
			<a href="/bfb_app/logout/"> Logout </a>
			{% else %}
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" id="registerbutton" href="#">Register <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" id="registerDropdown">
					<li><A href="/bfb_app/register/artist">Artist</A><li>
					<li><A href="/bfb_app/register/promoter">Promoter</A><li>
				</ul>
				<A href="/bfb_app/login/"><button class="btn" type="button" id="showloginbutton" onclick ="this.style.visibility= 'hidden';">Login</button></A>
			</div>
			{% endif %}
		</form>
	</div>
    </div>
    </div>
</div><!-- /.navbar -->

<FONT COLOR="white">Welcome to Billboard For Bands... Your Welcome</FONT>
{% if ad_list %}

<h2>Upcoming Gigs</h2>
<table class="table table-striped" id="gigtable">
<thead>
	<tr>  
	<th><font color="f9f9f9">Venue</th></font> 
	<th><font color="f9f9f9">Artist</th></font>  
	<th><font color="f9f9f9">Date</th></font>
	<th><font color="f9f9f9">No. of Applicants</th></font>     
	</tr>  
</thead>
  
<tbody>
	{% for ad in ad_list %}
	<tr>
	<td>{{ad.venue}}</td>
	<td>{{ad.band}}</td>
	<td>{{ad.date}}</td>
	<td>{{ad.artist.count}}</td>
	<tr>
	{% endfor %}
</table>
{% else %}
        <h3>No Adverts at present.</h3>
{% endif %}
{% endblock %}
{% block sidebar %}


{% if result_list %}
        {% for result in result_list %}
                <P><A HREF="{{result.link}}">{{result.title}} </A> <BR/>
                        {{result.summary}}
                </P>
        {% endfor %}

{% endif %}
{% endblock%}
{% block footer %}
<div id="about">
<p>
<h2>About</h2>
<font color="f9f9f9">Billboard for Bands is a platform for communication. <p>
Put simply:
<h3 align="center">Promoters advertise.<p>
Bands apply.</h3>
</font>
</p>
</div>
{% endblock%}
</html>
