{% extends 'bfb_app/base.html' %}
{% block content %}
<div class="navbar">
    <div class="navbar-inner" style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; overflow:hidden; top=100px;">
    <div class="container">
	<div class="span12">
	<ul class="nav">
            <li><a href="/bfb_app/PromoterHome">Home</a></li>
            <li><a href="/bfb_app/adv_add">Create Gig</a></li>
	    <li><a href="/bfb_app/PromoterProfile">View Profile</a></li>
	    <li class="active"><a href="/bfb_app/reviewSubmissions">Review Submission</a></li>
        </ul>
	<form class="navbar-form pull-right">
	     
	{% if user.is_authenticated %}
	    Welcome {{ user.username }}  |
	    <a href="/bfb_app/logout/"> Logout </a>
	{% else %}
	    <div class="btn-group">
	        <a class="btn dropdown-toggle" data-toggle="dropdown" id="registerbutton" href="#">Register <span class="caret"></span>
	        </a>
	        <ul class="dropdown-menu" id="registerDropdown">
	            <li><A href="/bfb_app/register/artist">Artist</A><li>
		    <li><A href="/bfb_app/register/promoter">Promoter</A><li>
	        </ul>
		<A href="/bfb_app/login/"><button class="btn" type="button" id="showloginbutton" onclick ="this.style.visibility= 'hidden';">Login</button></A>
	    </div>
	{% endif %}
	</form>
	</div>
    </div>
    </div>
</div><!-- /.navbar -->
{% if ad_list %}

<div class="span2">
<h2>All gigs</h2>
<li><a href="/bfb_app/review" class="btn btn-primary" type="button" id="reviewbtn"> Choose Band</a></li>

</div>

<table class="table" id="gigtable">
<thead>
	<tr>  
	<th>Venue</th>
	<th>Artist</th> 
	<th>Date</th>
	<th>No. of Applicants</th>
	<th>Status</th>
	</tr>  
</thead>
  
<tbody>
	{% for ad in ad_list %}
	<tr>
	<td>{{ad.venue}}</td>
	<td>{{ad.band}}</td>
	<td>{{ad.date}}</td>
	<td>{{ad.artist.count}}</td>
	<td>{{ad.status}}</td>
	<tr>
	{% endfor %}
</table>
{% else %}
        <h3>No Adverts at present.</h3>
{% endif %}


<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript">
function review_click(click_id) {

	var id_json = {'advertID': click_id};
	//alert("id is " + click_id);
	$.ajax({
    	url: '/bfb_app/reviewSubmissions',
    	type: "POST",
    	contentType: 'application/json; charset=utf-8',
    	data: JSON.stringify(id_json),
    	dataType: 'text', 
        success: function(result) {
			window.location="chooseArtist.html";
			var html = '';
			for (var i=0; i < result.artist.length; i++) {
				html += "<tr>";
				html += "<td>" + result.artist[i].name + "</td>";
				html += "<td>" + result.artist[i].genre + "</td>";
				html += "<td>" + result.artist[i].description + "</td>";
				html += "<td>" + result.artist[i].website + "</td>";
				html += "</tr>";
				$("#tablerow").append(html);
			}
   	 	}
	});	
}
</script>
{% endblock %}
