{% extends 'bfb_app/base.html' %}
{% block sidebar %}
<FORM id="search_form" method="post" action="/rango/search/">
        {% csrf_token %}
        Search:
        <INPUT type="text" size="50" name="query" value="" id="query">
        <INPUT type="submit" name="submit" value="submit" />
</FORM>

{% if result_list %}
        {% for result in result_list %}
                <P><A HREF="{{result.link}}">{{result.title}} </A> <BR/>
                        {{result.summary}}
                </P>
        {% endfor %}

{% endif %}
{% endblock%}
